* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav { 
	border-bottom: 10px solid #333333;
	height: 10%;
	line-height: inherit;
	text-align: center;
	padding: 25px;
	font-size: 15px;
}

#navbar a {
	text-decoration: none;
	color: grey;
}


.main {
	background-color: navy;
}

.nav-item {
	display: inline-block;
	padding: 5px 5px;
}

.active {
	background-color: #444;
	color: #6dccde;
	padding: 5px; 
	border-radius: 10px;
}

#landing {
	height: 90vh;
	background-image: linear-gradient(#fff, #323232);
	display: flex;
	align-items: center;
	background-color: #6DCCDE;
	color: #0d0d0d;
	font-family: 'Noto Serif', sans-serif;
	background-image: url("../images/header-bg5.png");
	background-size: cover;
}

#landing-container {
	background-color:white ;
	opacity: 0.75;
	padding-bottom: 20px;
	text-decoration: none;
}


#landing-container h1 {
	font-size: 60px;
}

#landing-intro {
	font-size: 15px;
}

#about {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Noto Serif', sans-serif;
	text-align: justify;
}

#about h1 {
	padding: 20px;
}

#about-quote {
	text-align: center;
	font-size: 25px;
	padding-top: 10px;
}

#skills {
	font-family: 'Noto Serif', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f5f5f5;
}

#skills h1 {
	padding: 20px;
}

#skills h2 {
	padding: 20px;
	text-align: center;
}

.skill-list {
	width: 100%;
	border: solid;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#skills-icon {
	height: 100px;
}

#projects {
	background-color: #f5f5f5;
}

#projects h1 {
	font-family: 'Noto Serif', sans-serif;
	padding: 30px;
}

#projects a {
	text-decoration: none;
	color: #000000
}

#projects a:hover {
	color: #00a3cc;
}

.project-list {
	display: flex;
	flex-direction: column;
	border: solid;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	align-items: center;
}

#project-image {
	height: 50px;
}


#contact {
	font-family: 'Noto Serif', sans-serif;
	padding-top: 50px;
}

#contact h1 {
	padding: 20px;
}

#contact input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#contact iframe {
	width: 100%;
	height: 350px;
}

/*----*/
/*These are the icons used on the footer section. */
.footer-icons {
	list-style: none;
	height: 10%;
	padding-bottom: 20px;
	font-size: 25px;
	padding-top: 10px;
}

.footer-icons a {
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100%; 
}

#yt-icon {
	color: red;
}

#yt-icon:hover {
	color: #660000;
}

#twitch-icon {
	color: #6441a5;
}

#twitch-icon:hover {
	color: #38245b;
}

#linkedin-icon {
	color: #0e76a8;
}

#linkedin-icon:hover {
	color: #08435e;
}

#ig-icon {
	color: #E1306C;
}

#ig-icon:hover {
	color: #9c1643;
}

#twt-icon {
	color: #1DA1F2;
}

#twt-icon:hover {
	color: #085c91;
}

.footer {
	margin-top: 20px;
	border-top: 10px solid #333333;
	height: 10%;
	line-height: inherit;
	text-align: center;	
	font-size: 15px;
}




